redux/s/src/states/patientPanel/index.jade
md-content(ng-controller="AsideController-MyPatientList as myPatientList" class="my-patient-list-content" ng-click="app.resizeWindow()" flexible-div="app.resizeWindow()" flex layout-fill layout="column" ng-class="{'app-has-error':myPatientList.isError}")
    md-toolbar#MyPatientList_Header(layout="row" layout-align="start center" flex="nogrow" class="mpl-header")
        md-button(class="md-icon-button" ng-click="app.event('local:myPatientList:close')")
            md-icon(md-svg-icon="arrow-right-bold")
            md-tooltip(md-direction="left") Hide
        div(ng-if="myPatientList.isError" class="mpl-app-error-header") My Patient Panel
        input(ng-if="!myPatientList.isError" id="MyPatientListSearchInput" ng-model="myPatientList.searchString" flex type="text" placeholder="Search..." style="background-color:transparent;margin-left:3px" ng-change="myPatientList.onKeywordChange()" press-enter="myPatientList.keywordSearch()")
        //md-icon(md-svg-icon="magnify" class="mpl-search-box-enter" ng-show="myPatientList.searchString" ng-click="myPatientList.keywordSearch()" style="cursor:pointer;")
        md-icon(md-svg-icon="close" class="mpl-search-box-clear" ng-show="!myPatientList.isError && myPatientList.searchString" ng-click="myPatientList.resetSearch()" style="cursor:pointer;margin-right:3px")


        md-button(ng-if="!myPatientList.isError&&myPatientList.tags" id="MyPatientListTagMenuBtn" ng-class="{'active':myPatientList.tagFilterActive===true}" class="md-icon-button tag-filter-btn" aria-label="Tag Filter" ng-click="myPatientList.showTagMenu($event)")

            md-icon(md-svg-icon="{{myPatientList.tagFilterActive===true?'filter':'filter-outline'}}" md-menu-origin)

            md-tooltip(md-direction="left") Tag Filter Search

        md-button(ng-if="!myPatientList.isError" id="MyPatientListReloadBtn" class="md-icon-button mpl-reload-button" ng-click="myPatientList.reload()" ng-disabled="myPatientList.currPage===null")
            md-icon(md-svg-icon="refresh")
            md-tooltip(md-direction="left") Reload
    //div(ng-if="!myPatientList.isError" class="mpl-listtype-no-option flex-nogrow" flex) {{myPatientList.listTypeNoOption}}
    md-select(ng-if="!myPatientList.isError" md-container-class="mpl-listtype-container" class="mpl-listtype-select" ng-model="myPatientList.listType" ng-change="myPatientList.onListTypeChange()" aria-label="Select List Type")
        md-option(ng-repeat='type in myPatientList.listTypes', value='my:{{type.value}}')
            | {{type.name}}
        md-option(value='my:team' ng-if="app.subordinates.length!==0")
            | My Team View
        div(ng-if="app.subordinates.length!==0" style="margin: 5px 0;background-color: rgba(0,0,0,0.11);height: 1px;border: 0;")
        md-option(ng-repeat='user in app.subordinates', value='sub:{{user.userId}}' class='sub-item')
            | {{user.lastName}}, {{user.firstName}}
    div(class="app-error-wrapper" flex ng-if="myPatientList.isError")
        div(class="app-error" layout="column" flex layout-align="center center")
                h1 Error Occurred
                p We encountered a problem with My Patient Panel. Please try again later.
                md-button(ng-click="myPatientList.reloadApp()" class="md-primary") Reload My Patient Panel
    md-virtual-repeat-container(class="list-container" flex ng-if="!myPatientList.isError")
        div(class="" style="padding:5px;" ng-if="myPatientList.notFound===true")
            div No patients found.
        div(class="list-loading-progress" style="padding:5px; text-align:center;width:100%" ng-if="myPatientList.notFound!==true&&myPatientList.dynamicPatientList.numItems===0")
            md-progress-circular(md-diameter="30" style="margin:0 auto;")
        div(class="md-3-line list-item" md-virtual-repeat="person in myPatientList.dynamicPatientList" md-on-demand)
             div(ng-if="!person" layout="row" class="mpl-loader-wrapper" layout-align="center center")
                md-progress-circular(md-diameter="30")

             div(ng-if="person" class="list-item-content" layout="row" layout-align="space-between center" ng-class="{'menu-active':myPatientList.selectedMenuId===person.patientId}" ng-init="myPatientList.filterTagsMenu(person.tags,myPatientList.tags)")
                 div(class="md-list-item-text fade" flex)
                    h3(class="name") {{ person.lastName }}, {{ person.firstName }}
                    h4(class="info")
                        span(class="id") ID: {{ person.patientId }}
                        span(class="gender") {{ person.genderValue }},&nbsp;
                        span(class="dob") DOB: {{person.dob|date:'MM/dd/yyyy'}}
                    div(ng-if="!person.tags||person.tags.length===0" class="no-tags") No tags
                    md-chips(ng-if="person.tags.length!==0" ng-model="person.tags" readonly="true")
                        md-chip-template(ng-class="'tag-'+$chip.tagType" class="tag" ng-if="person.tags[$index].tagEnabled!=false") {{$chip.tagAbbr || $chip.tagName}}
                            md-tooltip(class="tag-tooltip" ng-class="'tag-'+$chip.tagType") {{$chip.tagName}}
                 md-button(id="PPMenuBtn_{{$index}}" ng-show="person" class="md-icon-button mpl-item-menu-btn" aria-label="Patient Menu" ng-click="myPatientList.clickMenuOpen($event, person, $index);")
                    md-icon(md-menu-origin md-svg-icon="dots-vertical")



    script(type="text/ng-template" id="mplTagMenu.tpl.html")
        div(id="MyPatientListTagMenu" class="md-whiteframe-z2" )
            div(ng-repeat="tag in tagMenuCtrl.myPatientList.tags" class="tag-menu-item" ng-class="'tag-'+tag.tagType"  ng-show="tag.tagEnabled" )

                md-checkbox( ng-model="tag.selected" ng-change="tagMenuCtrl.myPatientList.toggleSelectedTag(tag)" md-no-ink ) {{tag.tagName + (tag.tagAbbr?' ('+ tag.tagAbbr+')':'')}}

            div(class="tag-menu-item" )
                md-checkbox(ng-model="tagMenuCtrl.myPatientList.nullTagSelected" ng-change="tagMenuCtrl.myPatientList.toggleNoTags()" md-no-ink) No Tags
            div(layout="row")
              span(class="tag-menu-item tag-menu-close" ng-click="tagMenuCtrl.myPatientList.clearAllTagFilter()")
                md-icon(md-svg-icon="filter-remove-outline")
                | Clear
              span(flex class="flex")
              span(class="tag-menu-item tag-menu-close" ng-click="tagMenuCtrl.close()")
                md-icon(md-svg-icon="close")
                | Close


    script(type="text/ng-template" id="mplSortMenu.tpl.html")
        div(id="MyPatientListTagMenu" class="md-whiteframe-z2" style="width:150%;height:150%" )
            div(ng-repeat="sortOption in sortMenuCtrl.myPatientList.sortOptions" class="tag-menu-item" )
              input(type="radio",name="", value="{{$index}}",ng-model="sortMenuCtrl.myPatientList.selected",ng-click="sortMenuCtrl.myPatientList.sortPatientPanel(sortMenuCtrl.myPatientList.dynamicPatientList,sortOption.sortBy,$index)")
              | {{sortOption.order}}
            div(class="tag-menu-item tag-menu-close" ng-click="sortMenuCtrl.close()")
                    md-icon(md-svg-icon="close")
                    | Close Sort

    script(type="text/ng-template" id="ppMenu.tpl.html")
        div(id="PPMenuContent_{{vm.index}}" class="patient-menu-list-item mpl-item-menu-content md-whiteframe-z2" )
           md-menu-item
               md-button(ng-click="vm.openCarebook(vm.patient.patientId)")
                   md-icon(md-svg-icon="icon_appCareBook")
                   span CareBook
           md-menu-item
               md-button(ng-click="vm.openEdit(vm.patient.patientId)")
                   md-icon(md-svg-icon="icon_appEnrollment")
                   span Demographics
           md-menu-item
               md-button(ng-click="vm.openCareplan(vm.patient.patientId)")
                   md-icon(md-svg-icon="icon_appCareplan")
                   span Care Plan
            md-menu-item
                md-button(ng-click="vm.openWizard(vm.patient.patientId, vm.constants.ENROLLMENT.WIZARD.PROGRAM.ID)")
                    md-icon(md-svg-icon="icon-programs")
                    span Programs
            md-menu-item
                md-button(ng-click="vm.openWizard(vm.patient.patientId, vm.constants.ENROLLMENT.WIZARD.CARE_TEAM.ID)")
                    md-icon(md-svg-icon="icon_appCareteams")
                    span Care Team
           md-menu-item(ng-if="vm.myPatientList.listType==='my:user'")
               md-button(ng-click="vm.removeFromList(vm.patient)")
                   md-icon(md-svg-icon="close")
                   span Remove from Panel

redux/s/src/states/patientPanel/index.html
<md-content class="my-patient-list-content" ng-controller="AsideController-MyPatientList as myPatientList" ng-click="app.resizeWindow()"
    flexible-div="app.resizeWindow()" flex="flex" layout-fill="layout-fill" layout="column" ng-class="{'app-has-error':myPatientList.isError}">
    <md-toolbar class="mpl-header" id="MyPatientList_Header" layout="row" layout-align="start center" flex="nogrow">
        <md-button class="md-icon-button" ng-click="app.event('local:myPatientList:close')">
            <md-icon md-svg-icon="arrow-right-bold"></md-icon>
            <md-tooltip md-direction="left">Hide</md-tooltip>
        </md-button>
        <div class="mpl-app-error-header" ng-if="myPatientList.isError">My Patient Panel</div>
        <input ng-if="!myPatientList.isError" id="MyPatientListSearchInput" ng-model="myPatientList.searchString" flex="flex" type="text"
            placeholder="Search..." style="background-color:transparent;margin-left:3px" ng-change="myPatientList.onKeywordChange()"
            press-enter="myPatientList.keywordSearch()" />
        <!--md-icon(md-svg-icon="magnify" class="mpl-search-box-enter" ng-show="myPatientList.searchString" ng-click="myPatientList.keywordSearch()" style="cursor:pointer;")-->
        <md-icon class="mpl-search-box-clear" md-svg-icon="close" ng-show="!myPatientList.isError &amp;&amp; myPatientList.searchString"
            ng-click="myPatientList.resetSearch()" style="cursor:pointer;margin-right:3px"></md-icon>
        <md-button class="md-icon-button tag-filter-btn" ng-if="!myPatientList.isError&amp;&amp;myPatientList.tags" id="MyPatientListTagMenuBtn"
            ng-class="{'active':myPatientList.tagFilterActive===true}" aria-label="Tag Filter" ng-click="myPatientList.showTagMenu($event)">
            <md-icon md-svg-icon="{{myPatientList.tagFilterActive===true?'filter':'filter-outline'}}" md-menu-origin="md-menu-origin"></md-icon>
            <md-tooltip md-direction="left">Tag Filter Search</md-tooltip>
        </md-button>
        <md-button class="md-icon-button mpl-reload-button" ng-if="!myPatientList.isError" id="MyPatientListReloadBtn" ng-click="myPatientList.reload()"
            ng-disabled="myPatientList.currPage===null">
            <md-icon md-svg-icon="refresh"></md-icon>
            <md-tooltip md-direction="left">Reload</md-tooltip>
        </md-button>
    </md-toolbar>
    <!--div(ng-if="!myPatientList.isError" class="mpl-listtype-no-option flex-nogrow" flex) {{myPatientList.listTypeNoOption}}-->
    <md-select class="mpl-listtype-select" ng-if="!myPatientList.isError" md-container-class="mpl-listtype-container" ng-model="myPatientList.listType"
        ng-change="myPatientList.onListTypeChange()" aria-label="Select List Type">
        <md-option ng-repeat="type in myPatientList.listTypes" value="my:{{type.value}}">{{type.name}}</md-option>
        <md-option value="my:team" ng-if="app.subordinates.length!==0">My Team View</md-option>
        <div ng-if="app.subordinates.length!==0" style="margin: 5px 0;background-color: rgba(0,0,0,0.11);height: 1px;border: 0"></div>
        <md-option class="sub-item" ng-repeat="user in app.subordinates" value="sub:{{user.userId}}">{{user.lastName}}, {{user.firstName}}</md-option>
    </md-select>
    <div class="app-error-wrapper" flex="flex" ng-if="myPatientList.isError">
        <div class="app-error" layout="column" flex="flex" layout-align="center center">
            <h1>Error Occurred</h1>
            <p>We encountered a problem with My Patient Panel. Please try again later.</p>
            <md-button class="md-primary" ng-click="myPatientList.reloadApp()">Reload My Patient Panel</md-button>
        </div>
    </div>
    <div ng-if="app.settings.beta.roster">
        <vue-component name="gsi-roster" />
    </div>
    <md-virtual-repeat-container class="list-container" flex="flex" ng-if="!myPatientList.isError && !app.settings.beta.roster">
        <div style="padding:5px" ng-if="myPatientList.notFound===true">
            <div>No patients found.</div>
        </div>
        <div class="list-loading-progress" style="padding:5px; text-align:center;width:100%" ng-if="myPatientList.notFound!==true&amp;&amp; myPatientList.dynamicPatientList.numItems===0">
            <md-progress-circular md-diameter="30" style="margin:0 auto"></md-progress-circular>
        </div>
        <div class="md-3-line list-item" md-virtual-repeat="person in myPatientList.dynamicPatientList" md-on-demand="md-on-demand">
            <div class="mpl-loader-wrapper" ng-if="!person" layout="row" layout-align="center center">
                <md-progress-circular md-diameter="30"></md-progress-circular>
            </div>
            <div class="list-item-content" ng-if="person" layout="row" layout-align="space-between center" ng-class="{'menu-active':myPatientList.selectedMenuId===person.patientId}"
                ng-init="myPatientList.filterTagsMenu(person.tags,myPatientList.tags)">
                <div class="md-list-item-text fade" flex="flex">
                    <h3 class="name">{{ person.lastName }}, {{ person.firstName }}</h3>
                    <h4 class="info">
                        <span class="id">ID: {{ person.patientId }}</span>
                        <span class="gender">{{ person.genderValue }},&nbsp;</span>
                        <span class="dob">DOB: {{person.dob|date:'MM/dd/yyyy'}}</span>
                    </h4>
                    <div class="no-tags" ng-if="!person.tags||person.tags.length===0">No tags</div>
                    <md-chips ng-if="person.tags.length!==0" ng-model="person.tags" readonly="true">
                        <md-chip-template class="tag" ng-class="'tag-'+$chip.tagType" ng-if="person.tags[$index].tagEnabled!=false">{{$chip.tagAbbr || $chip.tagName}}
                            <md-tooltip class="tag-tooltip" ng-class="'tag-'+$chip.tagType">{{$chip.tagName}}</md-tooltip>
                        </md-chip-template>
                    </md-chips>
                </div>
                <md-button class="md-icon-button mpl-item-menu-btn" id="PPMenuBtn_{{$index}}" ng-show="person" aria-label="Patient Menu"
                    ng-click="myPatientList.clickMenuOpen($event, person, $index);">
                    <md-icon md-menu-origin="md-menu-origin" md-svg-icon="dots-vertical"></md-icon>
                </md-button>
            </div>
        </div>
    </md-virtual-repeat-container>
    <script type="text/ng-template" id="mplTagMenu.tpl.html">
        <div class="md-whiteframe-z2" id="MyPatientListTagMenu">
            <div class="tag-menu-item" ng-repeat="tag in tagMenuCtrl.myPatientList.tags" ng-class="'tag-'+tag.tagType" ng-show="tag.tagEnabled">
                <md-checkbox ng-model="tag.selected" ng-change="tagMenuCtrl.myPatientList.toggleSelectedTag(tag)" md-no-ink="md-no-ink">{{tag.tagName + (tag.tagAbbr?' ('+ tag.tagAbbr +')':'')}}</md-checkbox>
            </div>
            <div class="tag-menu-item">
                <md-checkbox ng-model="tagMenuCtrl.myPatientList.nullTagSelected" ng-change="tagMenuCtrl.myPatientList.toggleNoTags()" md-no-ink="md-no-ink">No Tags</md-checkbox>
            </div>
            <div layout="row">
                <span class="tag-menu-item tag-menu-close" ng-click="tagMenuCtrl.myPatientList.clearAllTagFilter()">
                    <md-icon md-svg-icon="filter-remove-outline"></md-icon>Clear</span>
                <span class="flex" flex="flex"></span>
                <span class="tag-menu-item tag-menu-close" ng-click="tagMenuCtrl.close()">
                    <md-icon md-svg-icon="close"></md-icon>Close</span>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="mplSortMenu.tpl.html">
        <div class="md-whiteframe-z2" id="MyPatientListTagMenu" style="width:150%;height:150%">
            <div class="tag-menu-item" ng-repeat="sortOption in sortMenuCtrl.myPatientList.sortOptions">
                <input type="radio" name="" value="{{$index}}" ng-model="sortMenuCtrl.myPatientList.selected" ng-click="sortMenuCtrl.myPatientList.sortPatientPanel (sortMenuCtrl.myPatientList.dynamicPatientList,sortOption.sortBy,$index)"
                />{{sortOption.order}}
            </div>
            <div class="tag-menu-item tag-menu-close" ng-click="sortMenuCtrl.close()">
                <md-icon md-svg-icon="close"></md-icon>Close Sort
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="ppMenu.tpl.html">
        <div class="patient-menu-list-item mpl-item-menu-content md-whiteframe-z2" id="PPMenuContent_{{vm.index}}">
            <md-menu-item>
                <md-button ng-click="vm.openCarebook(vm.patient.patientId)">
                    <md-icon md-svg-icon="icon_appCareBook"></md-icon>
                    <span>CareBook</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openEdit(vm.patient.patientId)">
                    <md-icon md-svg-icon="icon_appEnrollment"></md-icon>
                    <span>Demographics</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openCareplan(vm.patient.patientId)">
                    <md-icon md-svg-icon="icon_appCareplan"></md-icon>
                    <span>Care Plan</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openWizard(vm.patient.patientId, vm.constants.ENROLLMENT.WIZARD.PROGRAM.ID)">
                    <md-icon md-svg-icon="icon-programs"></md-icon>
                    <span>Programs</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openWizard(vm.patient.patientId, vm.constants.ENROLLMENT.WIZARD.CARE_TEAM.ID)">
                    <md-icon md-svg-icon="icon_appCareteams"></md-icon>
                    <span>Care Team</span>
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.myPatientList.listType==='my:user'">
                <md-button ng-click="vm.removeFromList(vm.patient)">
                    <md-icon md-svg-icon="close"></md-icon>
                    <span>Remove from Panel</span>
                </md-button>
            </md-menu-item>
        </div>
    </script>
</md-content>
</div>
